body{
  font-family: "fira-sans", Arial, sans-serif;
 /* links nao herdam essa letra, tem que colcoar indidual */
  margin: 0px;
  color: #141414;
  margin-bottom: 1000px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

/* aplicar primeiro a classe container que é a base pra varios estilos */
.container {
  max-width: 1200px;
  padding: 40px 20px; 
  /* 40 cima baixo, 20 lado e outro */
  margin: 0 auto;
  display: grid;
  /* grid é de colunas */
  grid-template-columns: 1fr 2fr;
  /* 1 terço da tela de um lado, e 2 terços do outro */
  gap: 100px;
}


.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 6ch;
  /* 4 ch é que quero no maximo 4 letras do lado uma da outra */
}

@media (max-width: 800px){
  .subtitulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}